/* .sub-nav.albums.albums{
  border-bottom: 3px solid green;
  text-decoration: none;
} */
#click-album{
  border-bottom: 3px solid green;
}
.album-gallery-container{
  display: flex;
  justify-content: center;

}

.album-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0.2vmin;
  width: 80%;
}

.user-album-card{
  height: 30vh;
  flex-grow: 1;
  margin: 1vmin;
  background-color:rgb(205, 206, 205);

}
.user-album-card{
  padding:10px 0px;

}

.user-album-card:last-child{
  flex-grow:10;
}

.album-card-info p{
  font-size: 0.9rem;
  margin:0px;
  padding: 0px 10px;

}
.user-album-card div{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 1px;
}
