.user-page{


}

.user-space-div{
  background-color: rgb(148, 148, 148);
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url('./images/beach-shore.jpg');
  background-size: cover;

}

.user-info-header{
  display:flex;
  width: 80%;
  margin: 0px 0px 20px 0px;

}
.profile-headshot{
  background-image: url('./images/cellphone-animation-2.jpg');
  background-size: cover;
  height: 70px;
  width: 70px;
  border-radius: 50px;
  padding:10px 8px 8px 10px;
  margin: 0px 10px 0px 10px;

}

.user-info-header h1 {
  color:white;
  padding:0px 0px 10px 0px;
  margin-bottom: 0px;
  font-weight:100;
  font-size: 32px;
}
.username-div{
  margin-top: 0px;
  padding-top: 0px;
  color:white;
}

.sub-nav{
  height:35px;
  background-color: white;
  border-bottom:1px solid rgb(214, 214, 214);
  padding:5px;
  margin:2px;
  display:flex;
  justify-content: center;
  align-items: center;

}
.sub-nav:hover{
  cursor: pointer;
}
.sub-nav.albums,
.sub-nav.photos {
  /* border-bottom: 3px solid green; */
  text-decoration: none;
}

.sub-nav.albums:hover,
.sub-nav.photos:hover {
  border-bottom: 3px solid green;
  text-decoration: none;
}
#click-photo{
  border-bottom: 3px solid green;
}
.user-gallery-container{
  display: flex;
  justify-content: center;

}

.user-photo-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0.2vmin;
  width: 80%;
}

.user-photo-card{
  height: 30vh;
  flex-grow: 1;
  margin: 0.2vmin;

}

.user-photo-card:last-child{
  flex-grow: 10;
}
.user-photo-card img{
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border-radius: 1px;
}


