
.comment-container{
  border-top: 1px solid rgb(194, 193, 193);
  margin: 15px 0px 100px 0px;
}

.user-link{
  margin: 10px 0px 5px 0px;
  font-weight: 400;
  font-size: 14px;
  color: rgb(42, 42, 156);
  text-decoration: none;
}

.comment-box{
  margin-top: 5px;
  padding:10px;
}
.comment-box:hover{
  background-color: white;
}

.comment-content{
  display:flex;
  justify-content: space-between;
  margin: 0px 0px 10px 0px;

}

.comment-content p{
  margin:0px auto 0px 0px;
  font-size: 13px;
}

.comment-form{
  display: flex;
  flex-direction: column;
  margin-top:30px;
  padding-left:10px;
  /* width: 300px; */
}

.comment-form button{
  width: 80px;
}
.modify-section{
  display:flex;
}
.comment-edit-form{
  display: flex;
  flex-direction: column;

}
.comment-edit-form button{
  align-self: flex-end;
  width:65px;
}
.edit-icon{
  background-image: url('./images/edit.png');
  height:20px;
  width:20px;
  background-size: cover;
  border:0px;
  color:white;
  margin:3px;
}
.trash-icon{
  background-image: url('./images/delete.png');
  width:20px;
  height:20px;
  border:0px;
  margin:3px;
  background-size: cover;
}
.trash-icon:hover{
  background-color: rgb(192, 190, 190)
}
.edit-icon:hover{
  background-color: rgb(192, 190, 190)
}

