
.comment-container{
  border-top: 1px solid rgb(119, 118, 118);
  margin: 15px 0px 100px 0px;
}

.comment-box-username h3{
  margin: 10px 0px 5px 0px;
  font-weight: 600;
  font-size: 18px;
}

.comment-content{
  display:flex;
  justify-content: space-between;
  margin: 0px 0px 15px 0px
}

.comment-content p{
  margin:0px;
  font-size: 14px;
}

.comment-form{
  display: flex;
  flex-direction: column
}

.comment-form button{
  width: 80px;
}
