
.singlephoto-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  height: 800px;
  background-color: #292b2c;
}

.explore-link{
  margin: -230px 0px 0px 10px;
  position:absolute;

}
.explore-link.link{
  color:white;
  height: 40px;
  text-decoration: none;
  padding:5px;
  width: 150px;
}

.explore-link:hover{
  cursor: pointer;
  font-size: 17px;
}

.single-photo{
  display:flex;
  justify-content: center;
}

.single-photo img{
  height: 600px;
  max-width: auto;
  margin: 20px;
  margin-top: 30px;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}

.edit-photo-button{
  display: flex;
  justify-content: center;
  cursor: pointer
}

.btn-edit{
  display:inherit;
  justify-content: center;
}

.btn-edit:hover{
  cursor: pointer;
  font-size: 17px;
}

.btn-edit.link{
  text-decoration: none;
  color:white;

}
.right-container{
  margin: 0px 0px 0px 0px;
}

.photo-detail-container{
  margin-top: 30px ;
  width:auto;
  display:flex ;
  justify-content: center;
}

.photo-details{
  width: 500px;
}

.details-header{
  background-color: rgb(231, 228, 228);
  padding:10px;
  border-radius: 3px;
  /* margin:0px 10px; */
}

.user-link-header{
  margin: 10px 0px 5px 0px;
  font-weight: 600;
  font-size: 19px;
  color: rgb(14, 70, 255);
  text-decoration: none;
}

.user-link-header:hover{
  color: rgb(42, 42, 156);
}

.photo-title{
  font-size: 17px;
  font-weight: 500;
  margin: 10px 0px;
}

.photo-description{
  font-size: 13px;
}

.photo-stats-column{
  background-color: rgb(231, 228, 228);
  height: 4em;
  margin-left: 1em;
  display: flex
}

.photo-stats-column div{
  margin: .5em 1em
}
.photo-stats-column p{
  margin: 0px;
  color:rgb(160, 160, 160);

}
.trade-mark{
  color:rgb(42, 42, 156) !important
}
.photo-stats-column img{
  width: 2em;
  height: 1.7em;
}
.allrights{
  display: flex;
  margin-left: 0 !important
}

.allrights p{
  margin-top: .5em;
}
