
.singlephoto-container{
  /* height: 350px;
  width: 400px; */

  display:flex;
  width:100%;
  height: 740px;
  background-color: #292b2c;


}
.explore-link{
  height: 40px;
  margin: 60px 280px 0px 10px;
  color:white;
}

.explore-link:hover{
  cursor: pointer
}

.single-photo{
  height: 550px;
  width: auto;
  margin: 20px;
  margin-top: 110px;
  box-shadow: 0px 0px 5px 0px rgb(0, 0, 0);
}
.right-container{
  margin: 0px 0px 0px 300px;
}

.photo-detail-container{
  margin-top: 30px;
  width:auto;
  display:flex;
  justify-content: center;
}

.photo-details{
  width: 500px;
}

.user-link-header{
  margin: 10px 0px 5px 0px;
  font-weight: 300;
  font-size: 19px;

  text-decoration: none;
}
.user-link-header:hover{
  color: rgb(42, 42, 156);
}

.photo-title{
  font-size: 17px;
  font-weight: 200
}

.photo-description{
  font-size: 13px;
}
