.splash-page-container{
  /* padding-top: 50px; */
}
.navigation-container{
  opacity: 0.6
}
.splash-photo{
  height: 100vh;
  width: auto;
  background-size: cover;
  background-image: url("./images/splash-1.jpg");
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-page-container button{
  align-items: center;
  height: 40px;
  width: 130px;
  font-size: large;
}
