

.explore-page{
 /* padding-top: 60px; */
 /* height: 1000px; */
 /* width:80%; */
 display: flex;
 justify-content: center;
 flex-direction: column;
}
.behind-nav{
  height:50px;
  background-color: black;
  width: 100%;
}

.explore-gallery-container{
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* grid-auto-rows: 8px; */
  grid-auto-rows: 200px;
}

.photo-container{
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.photo-card{
  padding: 4px;
  display: grid;
  height: 100%;
  width: 100%;
}

.each-photo{
  max-width: 100%;
  /* max-height: 100%; */
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}


