.login-form-page{
  display: flex;
  width:100%;
  justify-content: center;
  flex-direction: column;

}

.login-form-container{
  display: flex;
  justify-content: center;
  background-image: url('./images/Rhythm_of_the_mountains.jpg');
  height: 100vh;
  background-size: cover;
  align-items: center;

}

.login-form{

  display:flex;
  flex-direction: column;
  width: 22rem;
  background-color: white;
  box-shadow: 0px 0px 3px 0px grey;
  border-radius: 5px;
  height: auto;
  padding:20px;
  justify-content: center

}

.login-form p {
  display: flex;
  justify-content: center;
}

.logo-holder{
  display:flex;
  justify-content: center;
}
.logo-holder div{

  background-image: url('./images/logo-white.png');
  height: 30px;
  width: 40px;
  background-size: cover;

}

input::placeholder{
  opacity:0;
}
.login-label input{
  height:2.5rem;
  padding: 1rem 0rem 0rem 1rem;
  border-radius: 3px;
  border: 0.5px solid rgb(173, 172, 172);
  margin-top:5px;
}

.login-label:focus input{
  border: 6px solid blue;
}
.login-label{
  position: relative;
  display: flex;
  flex-direction: column;
}


.login-label label{
  position: absolute;
  pointer-events: none;
  transform: translate(0, 17px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 16px;
  line-height: 1;
  left: 16px;
  padding-bottom: 5px;
}

.login-label:focus-within label {
  transform: translate(0, 10px) scale(0.8);
  color: #0a53e4;
}



.login-form button{
  padding:15px 0px;
  margin:20px 0px 30px 0px;
  background:rgb(48, 120, 226);
  color:#fff;
  border:1px solid rgb(48, 120, 226);
  cursor:pointer;
  border-radius:3px;
}

.login-form button:hover{
  background: rgb(52, 129, 245);
}
.signup-link{
  text-decoration: none;
 margin-left: 0.5rem;
 color:#3663bd;
}
