
.navigation-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 50px;
  background-color: #000000;
  opacity: 0.8;
  align-items:center;
  position: fixed;
  z-index: 1;
  font-weight: 100;
}

.logo-home{
  display:flex;
}

.lanscapr-logo{
  background-image: url('./images/landscapr-logo-dots.png');
  width:30px;
  height:20px;
  margin:1px 7px 0px 0px;
  background-size: cover;
}

.navigation-link{
  color:white;
  text-decoration: none;
}

.navigation-link-home{
  color:white;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

.explore-you-link{
  display: flex;
  width: 150px;
  justify-content: space-around
}

.upload-icon{
  background-image: url('./images/cloud-upload.jpg');
  height:30px;
  width: 40px;
  background-size: cover;
  margin-right: 20px;
}

.cloud-profile-section{
  display: flex;
}
