.profile-dropdown{

  margin-top: 155px;
  background-color: white;
  padding: 5px 10px 10px 10px;
  color: black;
  border-radius: 5px;
  border: 1px solid black
}
.user-headshot-btn{
  background-image: url('./cellphone-animation-2.jpg');
  height:30px;
  width:30px;
  background-size: cover;
  opacity: solid !important;
  border-radius: 50px;
}
.triangle-dropdown{
  color:white;
  height: 10px;
  width:10px;
  background-color: white;
}
.profile-dropdown button{
  text-decoration: none;
}
