.profile-dropdown{
  position:absolute;
  margin: 25px 0px;
  background-color: white;
  padding: 0px 10px 10px 10px;
  color: black;
  border-radius: 2px;
  border: 1px solid black;


}
/* .user-headshot-btn{
  border-radius: 70px;
  width:30px;
  height:30px
} */
.user-headshot-btn{
  position:absolute;
  background-color: white;
  background-image: url('./images/cellphone-animation-2.jpg');
  height:30px;
  width:30px;
  margin-top: -15px;
  background-size: cover;
  border-radius: 50px;
  border:0px;

}
/* .triangle-dropdown{
  color:white;
  height: 10px;
  width:10px;
  background-color: white;
} */
.profile-dropdown button{
  text-decoration: none;
}
